TODO:

* Mudar date para fullDate, day, dayOfWeek, month, bimonthly, quarter, fourMonths, year, decade

* we have synthetically associated a city, choosing randomly a city among the one hundred with largest populations. Therefore, the analytic queries related to geographic data have a synthetic character, but they are important to exemplify their potential in a real-world scenario.

* Testar para ver se eu consigo retirar a localizção a partir do texto

* Ajeitar a tabela de cities para ter o que é necessário apenas

* Trocar o dataset para o outro porque nele tem authors e linkSource

* Rodar o flairnovamente? acho que pelo index já consigo pegar sendo o mesmo

Esquema estrela
===
date (dateID, fullDate, day, dayOfWeek, month, bimonthly, quarter, fourMonths, year, decade)

location (locationID, city, state, country, population, latitude, longitude)

content (contentID, title, summary, authors, linkSource, category, sentiment)

event (dateID, locationID, contentID, NumberNegativeNews, NumberPositiveNews, totalQuantity)

==

Duvidas:

* O que é fullDate? 
* O que é o fourMonths?
* É country mesmo ou county?

In [2]:
import pandas as pd

politics = pd.read_csv("pol.csv")
politics = politics.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1)
cities = pd.read_csv("uscities.csv")

In [3]:
politics.head()

,index,headline,short_description,category,date,sentiment
0,21,Biden Says U.S. Forces Would Defend Taiwan If ...,President issues vow as tensions with China rise.,POLITICS,2022-09-19,neg
1,24,‘Beautiful And Sad At The Same Time’: Ukrainia...,An annual celebration took on a different feel...,POLITICS,2022-09-19,pos
2,30,Biden Says Queen's Death Left 'Giant Hole' For...,"U.S. President Joe Biden, in London for the fu...",POLITICS,2022-09-18,neg
3,40,Bill To Help Afghans Who Escaped Taliban Faces...,Republican outrage over the shoddy U.S. withdr...,POLITICS,2022-09-16,pos
4,44,Mark Meadows Complies With Justice Dept. Subpo...,The former White House chief of staff has turn...,POLITICS,2022-09-15,pos

In [4]:
politics_sent = politics.drop(['headline', 'short_description','category','date'],axis='columns')

In [5]:
politics_sent.head()

   index sentiment
0     21       neg
1     24       pos
2     30       neg
3     40       pos
4     44       pos

In [ ]:
### Raw

import pandas as pd

news_data = pd.read_json("news.json",orient="records",lines=True)

politics_raw = news_data[news_data['category']=="POLITICS"]

politics_cleaned = politics_raw.dropna()

politics_cleaned = politics_cleaned[politics_cleaned['authors']!=""]

In [ ]:
# politics_merged = politics_cleaned.join(politics_sent.set_index('index'), on=politics_cleaned.index)
# politics_final = politics_merged.drop(["key_0"],axis='columns')

In [8]:
# Date

from datetime import datetime

from datetime import datetime

def extract_periods(date: datetime):
    day = date.day
    year = date.year
    month = date.month
    
    bimonthly = (month - 1) // 2 + 1

    quarter = (month - 1) // 3 + 1

    four_months = (month - 1) // 4 + 1

    decade = (year // 10) * 10

    weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday","Sunday"]
    weekday = weekdays[date.weekday()]

    return {
        "fullDate":str(date.__str__()[:10]),
        "day":day,
        "dayOfWeek":weekday,
        "month": month,
        "bimonthly": bimonthly,
        "quarter": quarter,
        "fourMonths": four_months,
        "year": year,
        "decade": decade,
    }

teste = datetime.fromisoformat('2011-11-04')
print(list(extract_periods(teste).values()))

['2011-11-04', 4, 'Friday', 11, 6, 4, 3, 2011, 2010]

## Date table

To each date in the news table we need to have

In [9]:
date_df = pd.DataFrame(columns=["fullDate","day","dayOfWeek", "month", "bimonthly", "quarter", "fourMonths", "year", "decade"])

for date in politics_final['date'].unique():
    extracted_date = extract_periods(date)
    date_df.loc[len(date_df)] = extracted_date.values()

date_df = date_df.drop_duplicates(subset="fullDate")

date_df.head(n=50)

,fullDate,day,dayOfWeek,month,bimonthly,quarter,fourMonths,year,decade
0,2022-09-19,19,Monday,9,5,3,3,2022,2020
1,2022-09-18,18,Sunday,9,5,3,3,2022,2020
2,2022-09-16,16,Friday,9,5,3,3,2022,2020
3,2022-09-15,15,Thursday,9,5,3,3,2022,2020
4,2022-09-14,14,Wednesday,9,5,3,3,2022,2020
5,2022-09-13,13,Tuesday,9,5,3,3,2022,2020
6,2022-09-12,12,Monday,9,5,3,3,2022,2020
7,2022-09-11,11,Sunday,9,5,3,3,2022,2020
8,2022-09-10,10,Saturday,9,5,3,3,2022,2020
9,2022-09-08,8,Thursday,9,5,3,3,2022,2020
10,2022-09-07,7,Wednesday,9,5,3,3,2022,2020
11,2022-09-05,5,Monday,9,5,3,3,2022,2020
12,2022-09-04,4,Sunday,9,5,3,3,2022,2020
13,2022-09-02,2,Friday,9,5,3,3,2022,2020
14,2022-08-31,31,Wednesday,8,4,3,2,2022,2020
15,2022-08-30,30,Tuesday,8,4,3,2,2022,2020
16,2022-08-29,29,Monday,8,4,3,2,2022,2020
17,2022-08-28,28,Sunday,8,4,3,2,2022,2020
18,2022-08-27,27,Saturday,8,4,3,2,2022,2020
19,2022-08-26,26,Friday,8,4,3,2,2022,2020
20,2022-08-25,25,Thursday,8,4,3,2,2022,2020
21,2022-08-24,24,Wednesday,8,4,3,2,2022,2020
22,2022-08-23,23,Tuesday,8,4,3,2,2022,2020
23,2022-08-22,22,Monday,8,4,3,2,2022,2020
24,2022-08-20,20,Saturday,8,4,3,2,2022,2020
25,2022-08-19,19,Friday,8,4,3,2,2022,2020
26,2022-08-18,18,Thursday,8,4,3,2,2022,2020
27,2022-08-17,17,Wednesday,8,4,3,2,2022,2020
28,2022-08-16,16,Tuesday,8,4,3,2,2022,2020
29,2022-08-15,15,Monday,8,4,3,2,2022,2020
30,2022-08-13,13,Saturday,8,4,3,2,2022,2020
31,2022-08-12,12,Friday,8,4,3,2,2022,2020
32,2022-08-10,10,Wednesday,8,4,3,2,2022,2020
33,2022-08-09,9,Tuesday,8,4,3,2,2022,2020
34,2022-08-08,8,Monday,8,4,3,2,2022,2020
35,2022-08-07,7,Sunday,8,4,3,2,2022,2020
36,2022-08-06,6,Saturday,8,4,3,2,2022,2020
37,2022-08-05,5,Friday,8,4,3,2,2022,2020
38,2022-08-02,2,Tuesday,8,4,3,2,2022,2020
39,2022-08-01,1,Monday,8,4,3,2,2022,2020
40,2022-07-31,31,Sunday,7,4,3,2,2022,2020
41,2022-07-30,30,Saturday,7,4,3,2,2022,2020
42,2022-07-29,29,Friday,7,4,3,2,2022,2020
43,2022-07-28,28,Thursday,7,4,3,2,2022,2020
44,2022-07-27,27,Wednesday,7,4,3,2,2022,2020
45,2022-07-26,26,Tuesday,7,4,3,2,2022,2020
46,2022-07-25,25,Monday,7,4,3,2,2022,2020
47,2022-07-24,24,Sunday,7,4,3,2,2022,2020
48,2022-07-22,22,Friday,7,4,3,2,2022,2020
49,2022-07-21,21,Thursday,7,4,3,2,2022,2020

# Cities

In [10]:
cities.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36061,New York,40.6943,-73.9249,18713220,10715,polygon,False,True,America/New_York,1,11229 11226 11225 11224 11222 11221 11220 1138...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1139,-118.4068,12750807,3276,polygon,False,True,America/Los_Angeles,1,90291 90293 90292 91316 91311 90037 90031 9000...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8373,-87.6862,8604203,4574,polygon,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7839,-80.2102,6445545,5019,polygon,False,True,America/New_York,1,33129 33125 33126 33127 33128 33149 33144 3314...,1840015149
4,Dallas,Dallas,TX,Texas,48113,Dallas,32.7936,-96.7662,5743938,1526,polygon,False,True,America/Chicago,1,75287 75098 75233 75254 75251 75252 75253 7503...,1840019440

In [11]:
#city, state, country, population, latitude, longitude 

cities_filtered = cities[["city","state_name","population","lat","lng"]]
cities_filtered['country'] = "United States"
cities_filtered

/tmp/ipykernel_1416422/3663940369.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cities_filtered['country'] = "United States"

              city  state_name  population      lat       lng        country
0         New York    New York    18713220  40.6943  -73.9249  United States
1      Los Angeles  California    12750807  34.1139 -118.4068  United States
2          Chicago    Illinois     8604203  41.8373  -87.6862  United States
3            Miami     Florida     6445545  25.7839  -80.2102  United States
4           Dallas       Texas     5743938  32.7936  -96.7662  United States
...            ...         ...         ...      ...       ...            ...
28333        Gross    Nebraska           2  42.9461  -98.5697  United States
28334       Lotsee    Oklahoma           2  36.1334  -96.2091  United States
28335    The Ranch   Minnesota           2  47.3198  -95.6952  United States
28336     Shamrock    Oklahoma           2  35.9113  -96.5772  United States
28337       Monowi    Nebraska           1  42.8307  -98.3296  United States

[28338 rows x 6 columns]

In [12]:
cities_filtered.to_csv("cities.csv")

In [13]:
top100_cities = cities_filtered.sort_values(by="population",ascending=False)
top100_cities = top100_cities[:100]
top100_cities = top100_cities.rename({"state_name":"state","lat":"latitude","lng":"longitude"})
top100_cities

           city    state_name  population      lat       lng        country
0      New York      New York    18713220  40.6943  -73.9249  United States
1   Los Angeles    California    12750807  34.1139 -118.4068  United States
2       Chicago      Illinois     8604203  41.8373  -87.6862  United States
3         Miami       Florida     6445545  25.7839  -80.2102  United States
4        Dallas         Texas     5743938  32.7936  -96.7662  United States
..          ...           ...         ...      ...       ...            ...
95       Denton         Texas      457177  33.2176  -97.1419  United States
96      Madison     Wisconsin      447245  43.0826  -89.3931  United States
97         Reno        Nevada      445020  39.5497 -119.8483  United States
98   Harrisburg  Pennsylvania      442289  40.2752  -76.8843  United States
99  Little Rock      Arkansas      439815  34.7256  -92.3576  United States

[100 rows x 6 columns]

## Content Table

In [14]:
politics_final.head()

,link,headline,category,short_description,authors,date,sentiment
24,https://www.huffpost.com/entry/ukraine-festiva...,‘Beautiful And Sad At The Same Time’: Ukrainia...,POLITICS,An annual celebration took on a different feel...,Jonathan Nicholson,2022-09-19,pos
30,https://www.huffpost.com/entry/europe-britain-...,Biden Says Queen's Death Left 'Giant Hole' For...,POLITICS,"U.S. President Joe Biden, in London for the fu...","Darlene Superville, AP",2022-09-18,neg
40,https://www.huffpost.com/entry/afghan-adjustme...,Bill To Help Afghans Who Escaped Taliban Faces...,POLITICS,Republican outrage over the shoddy U.S. withdr...,Hamed Ahmadi and Arthur Delaney,2022-09-16,pos
44,https://www.huffpost.com/entry/capitol-riot-in...,Mark Meadows Complies With Justice Dept. Subpo...,POLITICS,The former White House chief of staff has turn...,"ERIC TUCKER, AP",2022-09-15,pos
54,https://www.huffpost.com/entry/seth-magaziner-...,Democrats Nominate Seth Magaziner In Key Rhode...,POLITICS,The state's general treasurer is slated to fac...,Daniel Marans,2022-09-14,pos

In [15]:
content_table = politics_final.rename(columns={"link":"linkSource","headline":"title","short_description":"summary"})
# content_table = content_table.drop(["date"],axis="columns")
content_table = content_table.reset_index(drop=True)

In [16]:
content_table.head(n=50)

,linkSource,title,category,summary,authors,date,sentiment
0,https://www.huffpost.com/entry/ukraine-festiva...,‘Beautiful And Sad At The Same Time’: Ukrainia...,POLITICS,An annual celebration took on a different feel...,Jonathan Nicholson,2022-09-19,pos
1,https://www.huffpost.com/entry/europe-britain-...,Biden Says Queen's Death Left 'Giant Hole' For...,POLITICS,"U.S. President Joe Biden, in London for the fu...","Darlene Superville, AP",2022-09-18,neg
2,https://www.huffpost.com/entry/afghan-adjustme...,Bill To Help Afghans Who Escaped Taliban Faces...,POLITICS,Republican outrage over the shoddy U.S. withdr...,Hamed Ahmadi and Arthur Delaney,2022-09-16,pos
3,https://www.huffpost.com/entry/capitol-riot-in...,Mark Meadows Complies With Justice Dept. Subpo...,POLITICS,The former White House chief of staff has turn...,"ERIC TUCKER, AP",2022-09-15,pos
4,https://www.huffpost.com/entry/seth-magaziner-...,Democrats Nominate Seth Magaziner In Key Rhode...,POLITICS,The state's general treasurer is slated to fac...,Daniel Marans,2022-09-14,pos
5,https://www.huffpost.com/entry/biden-cancer-mo...,Joe Biden Urges National Unity In Speech On Re...,POLITICS,"""Cancer does not discriminate red and blue,"" t...",Nick Visser,2022-09-13,pos
6,https://www.huffpost.com/entry/tim-scott-senat...,Sen. Tim Scott Downplays Electability Concerns...,POLITICS,"""Who we have on the field is who we’re gonna p...",Marita Vlachou,2022-09-12,pos
7,https://www.huffpost.com/entry/democratic-prim...,Electability Is On The Ballot In Key Rhode Isl...,POLITICS,Democrats in the state’s more moderate House d...,Daniel Marans,2022-09-12,pos
8,https://www.huffpost.com/entry/biden-moonshot-...,"In A Nod To JFK, Joe Biden Pushing 'Moonshot' ...",POLITICS,Biden plans to draw attention to a new federal...,"Zeke Miller and Carla K. Johnson, AP",2022-09-12,pos
9,https://www.huffpost.com/entry/sept-11-anniver...,"Biden Honors 9/11 Victims, Vows Commitment To ...",POLITICS,President Joe Biden has marked the 21st annive...,"COLLEEN LONG and AAMER MADHANI, AP",2022-09-11,pos
10,https://www.huffpost.com/entry/doj-trump-team-...,"US, Trump Team Propose Names For Arbiter In Ma...",POLITICS,The Justice Department proposed two retired ju...,"Eric Tucker and Nomaan Merchant, AP",2022-09-10,neg
11,https://www.huffpost.com/entry/clark-county-of...,Politician's DNA Connected To Las Vegas Journa...,POLITICS,Clark County Public Administrator Robert Telle...,Sanjana Karanth,2022-09-08,neg
12,https://www.huffpost.com/entry/michigan-aborti...,Michigan Supreme Court Revives Abortion Rights...,POLITICS,Opponents of the measure claimed typos made th...,Jonathan Cohn,2022-09-08,pos
13,https://www.huffpost.com/entry/portland-disabl...,Portland Residents With Disabilities Sue Over ...,POLITICS,The lawsuit says allowing homeless people’s te...,"Claire Rush, AP",2022-09-08,neg
14,https://www.huffpost.com/entry/unemployment-be...,The Unemployment Insurance System Is Not Ready...,POLITICS,"States are cutting back, and Congress is unlik...",Arthur Delaney,2022-09-07,neg
15,https://www.huffpost.com/entry/michigan-jocely...,Michigan Secretary of State Worried About ‘Vio...,POLITICS,"Jocelyn Benson said misinformation ""fuels the ...",Nick Visser,2022-09-05,neg
16,https://www.huffpost.com/entry/bc-us-texas-sch...,Uvalde Fourth Graders Waited An Hour With Woun...,POLITICS,When Elsa Avila looks at the scar that runs do...,"ACACIA CORONADO, AP",2022-09-05,neg
17,https://www.huffpost.com/entry/wisconsin-trump...,Trump-Endorsed Wisconsin Gubernatorial Candida...,POLITICS,Tim Michels calls on supporters to go after me...,"By SCOTT BAUER, AP",2022-09-04,neg
18,https://www.huffpost.com/entry/pat-cipollone-j...,Former White House Counsel Pat Cipollone To Te...,POLITICS,Cipollone's former deputy Patrick Philbin is a...,Marita Vlachou,2022-09-02,pos
19,https://www.huffpost.com/entry/jim-jordan-judi...,Rep. Jim Jordan's Judiciary Twitter Account Fi...,POLITICS,The 36-page filing described how Trump and his...,Ben Blanchet,2022-08-31,neg
20,https://www.huffpost.com/entry/mikhail-gorbach...,Mikhail Gorbachev's 1998 Pizza Hut Ad Resurfac...,POLITICS,The Soviet Union's last leader reportedly earn...,David Moye,2022-08-31,pos
21,https://www.huffpost.com/entry/donald-trump-fb...,Republicans Ignore Trump's Hoarding Of Classif...,POLITICS,The GOP is continuing to contort itself in def...,Igor Bobic,2022-08-31,neg
22,https://www.huffpost.com/entry/fox-news-steve-...,‘Fox & Friends’ Host Questions Why Trump Kept ...,POLITICS,"""These are the biggest secrets in the world,"" ...",Sanjana Karanth,2022-08-31,neg
23,https://www.huffpost.com/entry/stocks-dive-tru...,Stocks Dive For Truth Social SPAC Amid Merger ...,POLITICS,It's one thing after another for Donald Trump'...,Mary Papenfuss,2022-08-30,neg
24,https://www.huffpost.com/entry/anthony-ornato-...,Secret Service Official And Ex-Trump Aide Tony...,POLITICS,"Ornato, who at one point served as a White Hou...",Nina Golgowski,2022-08-30,neg
25,https://www.huffpost.com/entry/us-house-proxy-...,House Members Are Using A Controversial Tool T...,POLITICS,House members are only supposed to use proxy v...,Jonathan Nicholson,2022-08-29,neg
26,https://www.huffpost.com/entry/lindsey-graham-...,Lindsey Graham Warns Of 'Riots In Streets' If ...,POLITICS,"“Most Republicans, including me, believe when ...",Mary Papenfuss,2022-08-29,neg
27,https://www.huffpost.com/entry/kash-patel-clai...,Kash Patel Says His Life's In Danger Because H...,POLITICS,"In a message posted on Truth Social, Patel cal...",Mary Papenfuss,2022-08-28,neg
28,https://www.huffpost.com/entry/fake-heiress-tr...,FBI Probing Russian-Speaking Fake Heiress Who ...,POLITICS,The startling case underscores the security ch...,Mary Papenfuss,2022-08-28,neg
29,https://www.huffpost.com/entry/donald-trump-jr...,Don Jr. Posts 'Dick Pic' Of Dad After Affidavi...,POLITICS,"""Hang in there, Mr. President,"" goofs one die-...",Mary Papenfuss,2022-08-27,neg
30,https://www.huffpost.com/entry/trump-attorneys...,Trump Attorneys File Do-Over Motion Regarding ...,POLITICS,The former president's legal team followed a j...,Mary Papenfuss,2022-08-27,neg
31,https://www.huffpost.com/entry/jared-kushner-c...,Jared Kushner Blasts 'Nasty Troll' Chrissy Tei...,POLITICS,Who's nasty??,Mary Papenfuss,2022-08-27,neg
32,https://www.huffpost.com/entry/trump-search-wa...,Mar-A-Lago Search Affidavit: Trump Was Insecur...,POLITICS,The heavily redacted document lays out the jus...,S.V. Date,2022-08-26,neg
33,https://www.huffpost.com/entry/truth-social-do...,Donald Trump's Truth Social Reportedly Faces M...,POLITICS,A major vendor claims it was stiffed by Trump'...,Mary Papenfuss,2022-08-26,neg
34,https://www.huffpost.com/entry/north-dakota-ab...,Judge Temporarily Blocks North Dakota Trigger ...,POLITICS,"The ban was set to take effect Friday, about t...","Dave Kolpack, AP",2022-08-25,neg
35,https://www.huffpost.com/entry/gov-brian-kemp-...,Gov. Brian Kemp Fights Subpoena In Georgia Ele...,POLITICS,The judge is presiding over a special grand ju...,"Kate Brumback, AP",2022-08-25,neg
36,https://www.huffpost.com/entry/dan-goldman-dec...,"Dan Goldman, Narrowly Leading In New York Demo...",POLITICS,But the congressional race has not been offici...,Daniel Marans,2022-08-24,pos
37,https://www.huffpost.com/entry/markwayne-mulli...,Markwayne Mullin Wins Oklahoma Republican Prim...,POLITICS,The five-term House member is known as a staun...,Jonathan Nicholson,2022-08-24,pos
38,https://www.huffpost.com/entry/crist-friend-de...,Charlie Crist Wins Chance To Take On Florida G...,POLITICS,Crist is making his second run for governor as...,S.V. Date,2022-08-24,pos
39,https://www.huffpost.com/entry/irs-safety-revi...,IRS Launches Safety Review Amid Threats To Wor...,POLITICS,The Internal Revenue Service says it is conduc...,"FATIMA HUSSEIN, AP",2022-08-24,neg
40,https://www.huffpost.com/entry/biden-student-l...,Student Loan Borrowers Await Biden Plan On Deb...,POLITICS,If Biden's plan survives legal challenges that...,"Seung Min Kim, Michael Balsamo, Chris Megerian...",2022-08-24,neg
41,https://www.huffpost.com/entry/rusty-bowers-tr...,Rusty Bowers Rips 'Fascism' Of GOP And Trump's...,POLITICS,"""I haven’t been hanged yet,"" the Arizona GOP l...",Mary Papenfuss,2022-08-23,neg
42,https://www.huffpost.com/entry/after-delay-bid...,"After Delay, Biden Readies Student Loan Help, ...",POLITICS,The precise details of President Joe Biden’s p...,"Seung Min Kim, Michael Balsamo and Chris Meger...",2022-08-23,neg
43,https://www.huffpost.com/entry/child-care-paid...,This Is The Bittersweet Part Of Democrats' Swe...,POLITICS,Democrats were on the cusp of transforming pai...,Jonathan Cohn,2022-08-22,pos
44,https://www.huffpost.com/entry/jennifer-granho...,"Gas Prices Are Falling, But Global Events Coul...",POLITICS,Jennifer Granholm said the U.S. will produce a...,Marita Vlachou,2022-08-22,pos
45,https://www.huffpost.com/entry/bc-us-voting-ri...,Judge Won't Block Georgia Ban On Bringing Food...,POLITICS,Voting rights groups are dismayed about a ruli...,"Kate Brumback, AP",2022-08-20,neg
46,https://www.huffpost.com/entry/pence-says-did-...,Mike Pence Says He Did Not Take Classified Doc...,POLITICS,The former vice president made the disclosure ...,"Thomas Beaumont, AP",2022-08-20,neg
47,https://www.huffpost.com/entry/mitch-mcconnell...,Mitch McConnell Gives Downbeat Forecast On GOP...,POLITICS,"The Senate GOP leader cited ""candidate quality...",Marita Vlachou,2022-08-19,pos
48,https://www.huffpost.com/entry/media-to-ask-ju...,Media To Ask Judge To Release Trump Search War...,POLITICS,"""The matter is one of utmost public interest, ...","Terry Spencer, AP",2022-08-18,neg
49,https://www.huffpost.com/entry/cdc-rochelle-wa...,CDC Director To Overhaul Agency With COVID Sho...,POLITICS,"Rochelle Walensky announced a ""reset"" for the ...","Mike Stobbe, AP",2022-08-17,neg

# Event

event (dateID, locationID, contentID, NumberNegativeNews, NumberPositiveNews, totalQuantity)

In [17]:
import random

event_table = pd.DataFrame(columns=["dateID","locationID","contentID","NumberNegativeNews","NumberPositiveNews","totalQuantity"])

for index,event in content_table.iterrows():  
    date_id = date_df.loc[date_df['fullDate']== str(event.date)[:10]].index[0]
    location_id = random.randrange(0,len(cities))
    content_id = index
    number_negative = 1 if event.sentiment == "neg" else 0
    number_positive = 1 if event.sentiment == "pos" else 0
    total_qnt = 1 if number_negative==1 or number_positive == 1 else 0
    
    new_row = [date_id,location_id,content_id,number_negative,number_positive,total_qnt]
    event_table.loc[len(event_table)] = new_row

In [18]:
event_table.head(n=50)

,dateID,locationID,contentID,NumberNegativeNews,NumberPositiveNews,totalQuantity
0,0,10805,0,0,1,1
1,1,11867,1,1,0,1
2,2,9860,2,0,1,1
3,3,8870,3,0,1,1
4,4,9867,4,0,1,1
5,5,19252,5,0,1,1
6,6,19932,6,0,1,1
7,6,15998,7,0,1,1
8,6,4149,8,0,1,1
9,7,10759,9,0,1,1
10,8,3320,10,1,0,1
11,9,2739,11,1,0,1
12,9,4017,12,0,1,1
13,9,24207,13,1,0,1
14,10,22286,14,1,0,1
15,11,631,15,1,0,1
16,11,14771,16,1,0,1
17,12,11063,17,1,0,1
18,13,11000,18,0,1,1
19,14,27333,19,1,0,1
20,14,2044,20,0,1,1
21,14,10379,21,1,0,1
22,14,10436,22,1,0,1
23,15,28004,23,1,0,1
24,15,2990,24,1,0,1
25,16,11454,25,1,0,1
26,16,17810,26,1,0,1
27,17,14023,27,1,0,1
28,17,17285,28,1,0,1
29,18,14147,29,1,0,1
30,18,16426,30,1,0,1
31,18,22277,31,1,0,1
32,19,13518,32,1,0,1
33,19,13913,33,1,0,1
34,20,2667,34,1,0,1
35,20,19894,35,1,0,1
36,21,16733,36,0,1,1
37,21,12110,37,0,1,1
38,21,23510,38,0,1,1
39,21,7918,39,1,0,1
40,21,23726,40,1,0,1
41,22,10592,41,1,0,1
42,22,11173,42,1,0,1
43,23,8918,43,0,1,1
44,23,3818,44,0,1,1
45,24,13901,45,1,0,1
46,24,12383,46,1,0,1
47,25,24790,47,0,1,1
48,26,933,48,1,0,1
49,27,9956,49,1,0,1

In [20]:
event_table.to_csv("event.csv",index=False)